<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
                                 http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd"
  version="2.1">
  <persistence-unit name="YourPersistenceUnitName" transaction-type="RESOURCE_LOCAL">
    <class>com.steam.entity.Role</class>
    <class>com.steam.entity.Profile</class>
    <class>com.steam.entity.User</class>

    <properties>
      <!-- Configure database connection properties -->
      <property name="javax.persistence.jdbc.driver" value="your_database_driver_class"/>
      <property name="javax.persistence.jdbc.url" value="your_database_connection_url"/>
      <property name="javax.persistence.jdbc.user" value="your_database_username"/>
      <property name="javax.persistence.jdbc.password" value="your_database_password"/>

      <!-- Other properties -->
      <property name="hibernate.dialect" value="org.hibernate.dialect.YourDialect"/>
      <property name="hibernate.show_sql" value="true"/>
      <property name="hibernate.format_sql" value="true"/>

      <!-- Auto create/update tables -->
      <property name="hibernate.hbm2ddl.auto" value="update"/>
    </properties>
  </persistence-unit>
</persistence>
